@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">¿Qué podemos <span class="span-bienvenida">desarrollar</span> para vos?</h1>
    
    <div class = "welcome-banner">
        
        <img src="~/Imagenes/img-index2.png" class="welcome-img" alt="Imagen de bienvenida" />
    
        <div class="welcome-img-overlay-text">
            <p>
                Resolvemos las necesidades digitales de tu empresa.
                <a class="link-welcome" asp-action="Contacto">Contanos qué necesitas</a>
            </p>
        </div>
    </div>

        <div class="col col-3">
            <h3 class="display-6">Nuestros Servicios</h3>
            <div class="index-servicios">
                <p class="cabecera">Desarrollo: </p>
                <ul>
                    <li>Aplicaciones Web</li>
                    <li>Software a medida</li>
                </ul>
            </div>
            <div class="index-servicios">
                <p class="cabecera">Data: </p>
                <ul>
                    <li>Dashboards a medida</li>
                    <li>Diseño de bases de datos</li>
                    <li>ETL: Extracción, Transformación y Carga</li>
                </ul>
            </div>
        </div>
  
</div>
